    label {
      display: none !important;
    }

    #serverErrorBookAppointment {
      float: right;
      color: #594FF0;
    }

    .attrEntry > input {
      -webkit-text-fill-color: #1C1463;
    }

    .attrEntry > input:-webkit-autofill,
    .attrEntry > input:-webkit-autofill:hover,
    .attrEntry > input:-webkit-autofill:focus,
    .attrEntry > input:-webkit-autofill:active {
		  -webkit-box-shadow: 0 0 0 62.5rem #FFFFFF inset;
      background-color: #FFFFFF !important;
      background-clip: content-box !important;
	  }

    .attrEntry > input:-webkit-contacts-auto-fill-button {
      visibility: hidden;
      display: none !important;
    }